.themeRed {
  --text-body-color: #ff0000;
}

.themeGreen {
  --text-body-color: #00ff00;
}

.themeYellow {
  --text-body-color: #ffff00;
}

.themeDark {
  --v-global-focus-color: #4493f8;
  --v-component-button-border-color: #30363d;
  --v-component-button-border-color-hover: #30363d;
  --v-component-button-border-color-active: #30363d;
  --v-component-button-border-color-disabled: #21262db3;
  --v-component-button-text-color: #c9d1d9;
  --v-component-button-text-color-disabled: #6e7681;
  --v-component-button-background-color: #21262d;
  --v-component-button-background-color-hover: #292e36;
  --v-component-button-background-color-active: #2e333b;
  --v-component-button-background-color-disabled: #21262db3;
}
